<div
  class="w-full cursor-pointer overflow-hidden rounded-xl bg-white p-3 shadow transition-all duration-500 hover:shadow-md dark:bg-zinc-800"
>
  <div class="flex items-center justify-between">
    <a
      class="group inline-flex items-center gap-2 text-sm text-zinc-600 transition-all hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-zinc-300"
      href="/"
    >
      <h2 class="inline-flex items-center gap-2 text-base dark:text-zinc-50">
        <span class="i-tabler-home text-lg"></span>
        返回首页
      </h2>
    </a>
  </div>
</div>

