<th:block th:if="${theme.config.index.index_theme == true} and ${not #lists.isEmpty(theme.config.index.menu)}">
  <h2
    class="mt-16 mb-8 text-center text-3xl font-light text-[#333] dark:text-zinc-200"
    th:text="${theme.config.index.module_two}"
  >
    常见主题
  </h2>
  <div class="w-full cursor-pointer overflow-hidden rounded-xl p-3 transition-all duration-500">
    <div class="mx-auto max-w-screen-lg divide-y divide-zinc-200 px-4 sm:px-6 md:px-8 xl:max-w-screen-xl">
      <ul
        class="grid grid-cols-2 gap-y-10 gap-x-20 py-4 text-sm font-medium md:grid-cols-3 lg:grid-cols-4"
        th:if="${not #lists.isEmpty(theme.config.index.menu)}"
      >
        <th:block th:with="menu = ${menuFinder.getByName(theme.config.index.menu)}">
          <th:block th:each="menuItem,stat : ${menu.menuItems}">
            <li class="space-y-2" th:if="${stat.index lt 4}">
              <div class="... flex flex-row">
                <div>
                  <span class="text-lg">
                    <img
                      th:if="${#annotations.contains(menuItem, 'icon')}"
                      th:src="${#annotations.get(menuItem, 'icon')}"
                      th:title="${menuItem.status.displayName}"
                      th:alt="${menuItem.status.displayName}"
                      class="mt-[0.175rem] mr-1 h-5 w-5 drop-shadow-sm dark:border-zinc-700"
                    />
                  </span>
                </div>
                <div class="hover-within">
                  <a th:href="@{${menuItem.status.href}}" th:title="${menuItem.status.displayName}">
                    <h2
                      class="text-overflow text-lg font-semibold uppercase tracking-wide text-zinc-700 hover:scale-105 dark:text-zinc-100"
                      th:text="${menuItem.status.displayName}"
                    ></h2>
                  </a>
                </div>
              </div>
              <th:block th:if="${not #lists.isEmpty(menuItem.children)}">
                <ul class="space-y-1 pl-6">
                  <li th:each="menuInfo : ${menuItem.children}">
                    <div class="... flex flex-row">
                      <div>
                        <span class="text-base">
                          <img
                            th:if="${#annotations.contains(menuInfo, 'icon')}"
                            th:src="${#annotations.get(menuInfo, 'icon')}"
                            th:title="${menuInfo.status.displayName}"
                            th:alt="${menuInfo.status.displayName}"
                            class="mt-[0.175rem] mr-1 h-5 w-5 drop-shadow-sm dark:border-zinc-700"
                          />
                        </span>
                      </div>
                      <div class="hover-within">
                        <a
                          class="text-overflow text-sm font-light text-zinc-800 transition-colors duration-300 hover:scale-105 hover:text-zinc-900 hover:underline dark:text-zinc-400 dark:hover:text-zinc-300"
                          th:href="@{${menuInfo.status.href}}"
                          th:title="${menuInfo.status.displayName}"
                          th:text="${menuInfo.status.displayName}"
                        >
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </th:block>
            </li>
          </th:block>
        </th:block>
      </ul>
    </div>
  </div>
</th:block>
